<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm a Final Year Computer Science Engineering Student at KCT ,Coimbatore. Primarily interested in Web Development and Data Engineering.
      <a class="underline-link" href="" target="_blank"></a> Now I'm focusing on college, and deepening web development. now I'm studying , React JS, Next JS and Typescript. 
      I am also actively building my portfolio by building personal projects.I am pursuing my Masters from
      <a class="underline-link" href="kct.ac.in" target="_blank">kumaraguru college of technology</a> .to keep myself motivated i activly participate in many
      <a class="underline-link" href="" target="_blank">hackathons.</a>,like
      <a class="underline-link" href="https://gssoc.girlscript.tech/project" target="_blank">girlscript summer of code by girlscript foundation</a>, 
      <a class="underline-link" href="https://hacktoberfest.digitalocean.com/" target="_blank">hacktoberfest by digital ocean</a>.
    </p>

    <p>
      My main goal is to master frontend . So that I can build a solution to an existing problem easily.I enjoy bridging the gap between engineering and data &mdash; combining my technical knowledge
      with my keen eye for design to create a beautiful product. My goal is to always build applications that are scalable
      and efficient under the hood while providing engaging, pixel-perfect user experiences.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably playing cricket , hanging out with friends ,
      or crossing off another item on my bucket list.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
