<header class="intro">
  <h1 class="intro__hello">Hello!
    <span class="emoji wave-hand animated"></span>
  </h1>

  <h2 class="intro__tagline">I'm
    <span class="name">Vivek jain</span>, and I enjoy creating things that live on the internet. Primarily interested in Web Development and Data engineering.
    <span class="emoji technologist"></span>
  </h2>

  <h3 class="intro__contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:vivekjanism@outlook.com" target="_blank" class="highlight-link">vivekjainism@outlook.com</a>
    </span>
  </h3>
</header>
